body {
    width: 100vw;
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* header styles */
header {
    grid-area: header;
    grid-row: 1/2;
}

.pic {
    border: 2pt solid black;
    width: 100%;
}

h1 {
    color: white;
    background-color: #252525;
    font-family: 'Poller One', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 10pt;
    padding-left: 15pt;
    padding-right: 15pt;
    height: 35pt;
    margin-top: 30pt;
}

p {
    font-weight: lighter;
}

.one, .two, .three {
    text-align: center;
    padding-left: 150pt;
    padding-right: 150pt;
}

.three {
    margin-bottom: 20pt;
}

@media (max-width: 600px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .pic-section {
        width: 90%;
        padding-right: 30pt;
        padding-left: 30pt;
    }
    .pic {
        width: 100%;
        align-self: center;
    }

    h1 {
        font-size: 1.2em;
        height: 25pt;
    }

    .one, .two, .three {
        padding-left: 25pt;
        padding-right: 25pt;
    }

    nav {
        width: 70%;
        justify-content: space-between;
    }

    footer {
        height: auto;
    }

    .fab {
        padding: 10pt;
        font-size: 20pt;
        width: 20pt;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    

}

@media (max-width: 800px) {
    .one, .two, .three {
        padding-left: 25pt;
        padding-right: 25pt;
    }

    nav {
        width: 60%;
        justify-content: space-between;
    }
}
