body {
    width: 100vw;
    font-family: 'Oswald', sans-serif;
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    /* padding-top: 10pt; */
    width: 40%;
    margin-bottom: 10pt;
    margin-top: 20pt;
    height: 50%;
    color: black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    margin-top: 30pt;
    font-size: 1.3em;
}

h1 {
    justify-self: center;
    background-color: #252525;
    color: white;
    font-family: 'Poller One', cursive;
    text-align: center;
    font-size: 2em;
    margin-top: 25pt;
    /* padding-left: 10pt;
    padding-right: 10pt; */
    width: 100%;
}
main {
    margin-top: 20pt;
    display: grid;
    grid-area: main;
    justify-self: center;
}

form {
    justify-self: center;
    width: 100%;
}

#name, #address, #email, #phone-number {
    width: 100%;
}

a:link {
    color: #252525;
}

/* a:visited {
    color: #252525;
} */

a:hover {
    color: #0BA39C;
}

a:active {
    color: #0BA39C;
}

a {
    text-decoration: none;
}

/* footer styles */
footer {
    height: 90pt;
    margin-top: 20pt;
    grid-area: footer;
    display: grid;
    grid-row: 4/5;
    width: 100%;
    color: white;
    background-color: #252525;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "copy social";
}

.copy {
    grid-area: copy;
    align-self: center;
    justify-self: center;
    font-size: 1em;
}

.social_media {
    grid-area: social;
    align-self: center;
    justify-self: center;
}

.fab {
    padding: 10pt;
    font-size: 30pt;
    width: 50pt;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fab:link {
    color: white;
}

.fab:visited {
    color: white;
}

.fab:active {
    color: white;
}

button {
    font-size: 1em;
    color: white;
    background-color: #252525;
    text-decoration: none;
}

@media (max-width: 800px) {
    nav {
        width: 60%;
        justify-content: space-between;
    }


.fab {
    padding: 10pt;
    font-size: 25pt;
    width: 25pt;
    text-align: center;
    text-decoration: none;
    color: white;
}
}

@media (max-width: 600px) {
    nav {
        width: 70%;
    }


.fab {
    padding: 10pt;
    font-size: 20pt;
    width: 20pt;
    text-align: center;
    text-decoration: none;
    color: white;
}

form {
    width: 75%;
}

}