body {
    width: 100vw;
    font-family: 'Oswald', sans-serif;
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    justify-self: center;
    background-color: #252525;
    color: white;
    font-family: 'Poller One', cursive;
    text-align: center;
    font-size: 2em;
    margin-top: 25pt;
    /* padding-left: 10pt;
    padding-right: 10pt; */
    width: 100%;
}
main {
    margin-top: 20pt;
    display: grid;
    grid-area: main;
    justify-self: center;
}

form {
    justify-self: center;
    width: 100%;
}

#name, #address, #email, #phone-number {
    width: 100%;
}

button {
    font-size: 1em;
    color: white;
    background-color: #252525;
    text-decoration: none;
}

@media (max-width: 800px) {

    #name, #address, #email, #phone-number, #comments {
        width: 95%;
    }

    h1 {
        width: 90%;
    }

}