
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    /* padding-top: 10pt; */
    width: 40%;
    margin-bottom: 10pt;
    margin-top: 20pt;
    height: 50%;
    color: black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    margin-top: 30pt;
    font-size: 1.3em;
}

a:visited {
    color: #252525;
}

/* a:link {
    color: #252525;
} */

#logo:hover {
    transform: scale(1.2);
}



nav a:hover {
    color: #0BA39C;
    text-transform: uppercase;
    transform: scale(1.2);
    font-family: 'Poller One', cursive;
}

nav a:active {
    color: #0BA39C;
}

a {
    text-decoration: none;
}

/* footer styles */
footer {
    height: 90pt;
    margin-top: 20pt;
    grid-area: footer;
    display: grid;
    grid-row: 4/5;
    width: 100%;
    color: white;
    background-color: #252525;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "copy social";
}

.copy {
    grid-area: copy;
    align-self: center;
    justify-self: center;
    font-size: 1em;
}

.social_media {
    grid-area: social;
    align-self: center;
    justify-self: center;
}

.fab {
    padding: 10pt;
    font-size: 30pt;
    width: 50pt;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fab:hover {
    font-size: 35pt;
}

.fab:link {
    color: white;
}

.fab:visited {
    color: white;
}

.fab:active {
    color: white;
}

#facebook:hover {
    color: #435F9C;
}

#twitter:hover {
    color: #1DA1F2;
}

#linkedin:hover {
    color: #0077B5;
}

#pinterest:hover {
    color: #E60023;
}

@media (max-width: 800px) {
    nav {
        width: 60%;
        justify-content: space-between;
    }


.fab {
    padding: 10pt;
    font-size: 25pt;
    width: 25pt;
    text-align: center;
    text-decoration: none;
    color: white;
}

}

@media (max-width: 600px) {
    nav {
        width: 70%;
    }


.fab {
    padding: 10pt;
    font-size: 20pt;
    width: 20pt;
    text-align: center;
    text-decoration: none;
    color: white;
}

}