body {
    width: 100wv;
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: auto auto auto;
    /* grid-template-rows: .3fr 1fr .75fr .25fr; */
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header header"
    "pic pic pic"
    ". text text"
    "main main main"
    "footer footer footer";
    font-family: 'Oswald', sans-serif;
}

header {
    grid-area: header;
    grid-row: 1/2;
}

.text_block {
    justify-self: center;
    align-self: center;
    grid-area: text;
    grid-row: 2/3;
    margin-right: 50pt;
}

.text_block h2 {
    height: 40pt;
    text-align: center;
    padding-left: 0;
    width: 300pt;
    font-size: 2em;
    background-color: white;
}

.text_block > p {
    background-color: #252525;
    color: white;
    display: block;
    font-size: 1.3em;
    padding-right: 0em;
    height: 30pt;
    text-align: left;
    margin-left: 0;
    padding-right: 20pt;
    padding-left: 10pt;
}

.last_p {
    margin-bottom: 25pt;
}

#read {
    background-color: #0BA39C;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

#read:link {
    color: white;
}

main {
    grid-area: main;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    margin-top: 20pt;
}

main p {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 8pt;
    font-weight: bold;
    color: black;
}

.big_pic {
    grid-area: pic;
    grid-row: 2/3;
}

img {
    width: 100%;
}

#picture {
    border: 1.5pt solid #484848;
}

#picture:hover {
    /* opacity: .9; */
    transform: scale(1.05);
    filter: brightness(120%);
}

.father {
    margin-right: 10pt;
}

.actor {
    margin-right: 10pt;
}

@media (max-width: 600px) {
    body {
        display: grid;
        width: 100%;
        /* height: 100vw; */
        /* grid-template-rows: 1fr .25fr 1fr 1fr .2fr; */
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
        "header"
        "text"
        "main"
        "footer"
        "pic";
        gap: 0;
    }

    .big_pic {
        opacity: 1;
    }

    #image {
        opacity: 0;
    }


    .text_block {
        font-size: 1em;
        display: grid;
        justify-self: center;
        align-self: center;
        grid-area: text;
        margin-top: 15pt;
        margin-right: 0;
        text-align: center;
        opacity: .8;
    }

    .text_block:hover {
        opacity: 1;
        transform: scale(1.1);    
    }

    #read {
        background-color: #0BA39C;
        color: white;
        padding: 1em 1em;
        text-align: center;
        text-decoration: none;
        /* width: 55pt;
        height: 8pt; */
        /* text-transform: uppercase; */
    }

    .last_p {
        margin-bottom: 8pt;
    }    
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .text_block h2 {
        font-size: 1.1em;
        height: 20pt;
        margin-bottom: 2pt;
        margin-top: 2pt;
        text-align: left;
        padding-left: 10pt;
    }

    .text_block > p {
        background-color: #252525;
        color: white;
        display: block;
        font-size: 1em;
        padding-right: 0em;
        height: auto;
        text-align: left;
        margin-left: 0;
        margin-top: 0;
        padding-right: 20pt;
        padding-left: 10pt;
    }    

    /* #big_img {
        height: auto;
    } */
    
}
