body {
    width: 100wv;
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .3fr 1fr .75fr .25fr;
    grid-template-areas: 
    "header header header"
    "pic pic pic"
    ". text text"
    "main main main"
    "footer footer footer";
    font-family: 'Oswald', sans-serif;
}

header {
    grid-area: header;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    padding-top: 10pt;
    width: 40%;
    margin-bottom: 10pt;
    margin-top: 25pt;
    height: 50%;
    color: black;
}

a:link {
    color: black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 0em;
    font-size: 1.3em;
}

.text_block {
    justify-self: center;
    align-self: center;
    grid-area: text;
    grid-row: 2/3;
    margin-right: 50pt;
}

.text_block h2 {
    height: 40pt;
    text-align: center;
    padding-left: 0;
    width: 300pt;
    font-size: 2em;
    background-color: white;
}

.text_block > p {
    background-color: #252525;
    color: white;
    display: block;
    font-size: 1.3em;
    padding-right: 0em;
    height: 30pt;
    text-align: left;
    margin-left: 0;
    padding-right: 20pt;
    padding-left: 10pt;
}

.last_p {
    margin-bottom: 25pt;
}

#read {
    background-color: #0BA39C;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

#read:link {
    color: white;
}

main {
    grid-area: main;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    margin-top: 20pt;
}

main p {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 8pt;
    font-weight: bold;
    color: black;
}

.big_pic {
    grid-area: pic;
    grid-row: 2/3;
}

footer {
    grid-area: footer;
    display: grid;
    grid-row: 4/5;
    width: 100%;
    color: white;
    background-color: #252525;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "copy social";
}

.copy {
    grid-area: copy;
    align-self: center;
    justify-self: center;
}

.social_media {
    grid-area: social;
    align-self: center;
    justify-self: center;
}

.fab {
    padding: 10pt;
    font-size: 30pt;
    width: 50pt;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fab:link {
    color: white;
}

.fab:active {
    color: white;
}

img {
    width: 100%;
}

#picture {
    border: 1.5pt solid #484848;
}

.father {
    margin-right: 10pt;
}

.actor {
    margin-right: 10pt;
}

@media (max-width: 576px) {
    body {
        display: grid;
        width: 100vw;
        height: 100vw;
        grid-template-rows: 1fr .25fr 1fr 1fr .2fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "pic"
        "text"
        "main"
        "footer";
        gap: 0;
    }


    .text_block {
        grid-row: 2/3;
        opacity: 0.6;
    }

    nav {
        width: 60%;
    }

    ul {
        padding-left: 0em;
        font-size: 1em;
    }

    #big_pic {
        height: 600pt;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .text_block {
        /* margin-top: 45pt; */
        font-size: 1em;
        display: grid;
        justify-self: center;
        align-self: center;
        grid-area: text;
        /* margin-right: 50pt; */
    }

    .text_block h2 {
        font-size: 1em;
        height: 20pt;
        margin-bottom: 2pt;
        margin-top: 2pt;
        text-align: left;
        padding-left: 10pt;
    }

    .text_block > p {
        background-color: #252525;
        color: white;
        display: block;
        font-size: 1em;
        padding-right: 0em;
        height: auto;
        text-align: left;
        margin-left: 0;
        margin-top: 0;
        padding-right: 20pt;
        padding-left: 10pt;
    }    

    #big_img {
        height: auto;
    }
    
}
